body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    font-size: 18px;
    color: #eee;
    text-align: center;
    width: 100%;
    padding: 2px 0 2px 0;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

#main-bio, #bio-image, p, #contact-info {
    float: left;
}

#main-bio h2 {
    color:#333333;
    font-size: 24px;
    padding: 40px 0 10px 20px;
}

#main-bio {
    width: 70%;
}

#bio-image {
    width: 200px;
    margin: 0 20px;
}

p {
    width: 350px;
    margin: 0;
}

#contact-info h2 {
    color:#333333;
    font-size: 24px;
    padding: 40px 0 10px 0;
}

#contact-info {
    width: 30%;
}
  
a {
    color: #d21034;
}